<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatMeets-Home</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/public/style/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-outlined {
          font-variation-settings:
          'FILL' 1,
          'wght' 1500,
          'GRAD' 0,
          'opsz' 48
        }
        </style>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="/public/icons/ChatMeet (1).png">

        <meta property="og:description" content="完全匿名で利用できるビデオ・通話プラットフォーム">
        <meta property="og:title" content="ChatMeets">
        <meta property="og:image" content="/public/icons/Chat Meets.png">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="og:type" content="article">
        <meta property="og:url" content="https://chatm-dffac3792890.herokuapp.com/main">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="/public/icons/Chat Meets.png">
        <meta name="twitter:description" content="ChatMeets">
        <meta name="twitter:title" content="完全匿名で利用できるビデオ・通話プラットフォーム">
</head>
<body>
    <span style="display: none;" id="userId"><%=userId%></span>
    <script>
        let Socket = io()
    </script>



    <div class="mainWarpp">
        <div class="pageTitle">
            <div class="pageCons">
            <img src="/public/icons/ChatMeet (3).png" class="appIcon"/>

                <span class="pageTitleText">ChatMeets</span>
            </div>
        </div>

        <div class="mainContents">
            <button class="mkroomButton" onclick="moveCreatet()"><span class="mkroomButtonText"><span class="material-symbols-outlined createAddIcon">add</span>CreateRoom</span></button>
            <div class="publicRoomList">



            </div>
        </div>
        <div style="position: absolute; bottom:0;width: 100%;display:flex">
            <span style="margin:auto;color:white;margin-bottom:10px">©2023 ChatMeets Created by fumi</span>
        </div>
    </div>






    <script src="/public/src/mainPage/main.js"></script>
    <script src="/public/src/mainPage/socketon.js"></script>
    <script src="/public/doms/roomListDom.js"></script>

</body>
</html>