<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatMeets-404</title>
    <link rel="stylesheet" href="/public/style/notfound.css">
    <script src="/public/src/notFoundPage/not.js"></script>
    <link rel="shortcut icon" href="/public/icons/ChatMeet (1).png">
    <meta property="og:description" content="完全匿名で利用できるビデオ・通話プラットフォーム">
    <meta property="og:title" content="ChatMeets">
    <meta property="og:image" content="/public/icons/Chat Meets (1).png">

    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://www.fumiapp.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="/public/icons/Chat Meets (1).png">
    <meta name="twitter:description" content="ChatMeets">
    <meta name="twitter:title" content="完全匿名で利用できるビデオ・通話プラットフォーム">
</head>
<body>
    <div class="mainWarpp">
        <div class="subWarpp">
            <h1 class="page404">404 Not Found</h1>
            <div style="width: 100%; display:flex">
                <button class="backHome" onclick="moveHome()">ホームへ戻る</button>
            </div>
        </div>
    </div>
</body>
</html>
