<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatMeet-404</title>
    <link rel="stylesheet" href="/public/style/notfound.css">
    <script src="/public/src/notFoundPage/not.js"></script>
</head>
<body>
    <div class="mainWarpp">
        <div class="subWarpp">
            <h1 class="page404">404 Not Found</h1>
            <div style="width: 100%; display:flex">
                <button class="backHome" onclick="moveHome()">ホームへ戻る</button>
            </div>
        </div>
    </div>
</body>
</html>